.container-fluid{
        color: rgb(0, 0, 0);
        padding: 0px;
        text-align: right;
        font-size: 14px;
        font-family: 'fuente_2';
}
.linea-vertical {
    border-left: 1px solid rgb(255, 255, 255);
    height: 55px;
    margin-inline-end:10px;
}
.consultores {
    color: white;
    font-size: 16px;
    font-family: 'fuente_2';
    margin-inline-start: 4px;
    margin-top: 10px;
    text-align: center;
}
.navbar li{
    padding: 0 20px;
    color:white;
    font-family: 'fuente_3';
    font-size: 13px;
}
.linea-vertical1 {
    height: 30px;
    width: 1px;
    background-color: white;
}   
.texto1{
    position: absolute;
    top:30%;
    left:5%;
    font-family:'fuente_1';
    font-size: 70px;
    color: rgba(0, 0, 0, 0.65);
    width: 40%;
    text-align: center;
}
.navbar-toggler{
position: absolute;
top: 35%;
left: 90%;
}
.header-container {
    position: relative;
    width: 100%;
    height: 460px;
}

.header-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto1 {
    font-family:'fuente_1';
    font-size: 70px;
    color: rgba(0, 0, 0, 0.65);
    width: 40%;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap; /* Evitar que el texto se ajuste en múltiples líneas */
}
.navbar{
    background-color: #1E3857;
}
.contenedor-pie{
    background-color: #272E38;
    }

.texto2 p {
    font-size: 16px;
    line-height: 1.5;
    top: 100px;
    left:30px ;
    color: #000000;
    text-align: justify;
    font-family: 'fuente_2';
    font-size: 22px;
    font-weight: 400;
    position: relative;
    width: 488px;;
}
.contenedor-texto p {
    margin-bottom: 0; /* Elimina el margen inferior del párrafo */
}

.contenedor-imagen img {
    max-width: 100%;
    height: auto;
}
.imagen2{
    float: left;
    margin-top: -140px;
    margin-left: 140%;

}
.contexto {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: 'fuente_4';
    font-size: 26px;
    text-transform: uppercase;
    margin-top: 20px;

}
#contenido1 {
    color:rgb(250, 250, 250);
    background-color:#1E3857;
    text-align: center;
}
.btn{
    cursor: pointer;
    border: 3px solid #d7c20a;
    color: #ffffff;
    font-size: 36px;
    font-family:  'fuente_5';
    background-color: transparent;
    padding: 10px 35px;
    text-align: center;
    margin-top: 30px;
}
.btn-alinear{
    text-align: center;
    font-size: 36px;

}
.btn:hover{
    background-color: #d7c20a;
}
.grid-container {
    display: grid;
    width: 60%;
    margin: 0 auto;

}

.grid-item {
    position: relative;
    text-align: center;
    color: white;
    top: -55px;
}

.grid-item img {
    width: 100%;
    height: auto;
    max-width: 290px; /* Ancho máximo de la imagen */
    max-height: 340px; /* Alto máximo de la imagen */
    object-fit: cover; /* Ajustar imagen sin distorsionar */
}
.servicio-texto {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    font-family: 'fuente_2';
    font-size: 20px;
    cursor: pointer;
}
.servicio-texto:hover{
    color: #d7c20a;

}


footer{
    background-color: #272E38;
    padding: 85px 0;
}
.line {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    top: 0;
}
.left-line {
    left: -10px; /* Ajusta según sea necesario */
}
.right-line {
    right: 225px; /* Ajusta según sea necesario */
}
@media (max-width: 768px) {
    .right-line {
        right: 225px; /* Ajusta según sea necesario */
    }
}
@media (max-width: 770px) {
    .row {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);   
     }
}
@media (max-width: 768px) {
    .servicio-texto {
        font-size: 15px; /* Ajusta según sea necesario */
        width: 80%;
    }
}
@media (max-width: 767px) {
    .servicio-texto {
        font-size: 15px; /* Ajusta según sea necesario */
        width: 50%;
    }
}



@media (max-width: 768px) {
    .row {
        flex-direction: column; /* Cambia la dirección del flex a columna en pantallas pequeñas */
        align-items: center; /* Centra los elementos */
    }
    .contenedor-imagen {
        margin-top: 300px; /* Añade espacio entre el texto y la imagen */
        left: -115%;
    }
}
@font-face {
    font-family: 'fuente_1' ;
    src: url(fuentes/Acme-Regular.ttf);
    font-style: normal;
    font-weight: normal;
    }
    @font-face {
    font-family:'fuente_2';
    src: url(fuentes/Abel-Regular.ttf);
    font-style: normal;
    font-weight: normal;
    }
    @font-face {
    font-family:'fuente_3';
    src: url(fuentes/Arimo-Regular.ttf);
    font-style: normal;
    font-weight: normal;
    }
    @font-face {
    font-family:'fuente_4';
    src: url(fuentes/allerta-regular.ttf);
    font-style: normal;
    font-weight: normal;
    }
    @font-face {
    font-family:'fuente_5';
    src: url(fuentes/AlumniSans-SemiBold.ttf);
    font-style: normal;
    font-weight: normal;
    }
    @font-face {
    font-family:'fuente_6';
    src: url(fuentes/Akshar-Regular.ttf);
    font-style: normal;
    font-weight: normal;
    }
    @font-face {
    font-family:'fuente_7';
    src: url(fuentes/AdventPro-Bold.ttf);
    font-style: normal;
    font-weight: normal;
    }
    @font-face {
    font-family: 'fuente_8' ;
    src: url(fuentes/AnekTelugu-Regular.ttf);
    font-style: normal;
    font-weight: normal;
    }